<br>
<!-- <div class="container"> -->
	<div class="row">

		<div class="col-lg-6 col-lg-offset-3 col-sm-12">
			<h4>Title</h4>
			<input class="form-control" ng-model="createListData.title">
			<br>

			<button class="btn btn-default" style="float:right;" ng-click="addInvitee()">Add User</button>
			<br>
			<br>
			<br>
			<table class="table table-bordered" ng-show="hasInvitees()">

				<thead>
					<th><h4>Email</h4></th>
					<th><h4>Remove</h4></th>
				</thead>
				<tbody>
					<tr ng-repeat="invitee in createListData.invitees" 
					ng-class="{success: inviteeExistsAndChecked(invitee), info: inviteeDoesntExistAndChecked(invitee), danger: invalidEmail(invitee)}" 
          tooltip="{{invitee.tooltipInfo}}"
          tooltip-placement="bottom"
          tooltip-trigger="mouseenter"
          tooltip-enable="invitee.checked">
						<td>
							<input class="form-control" ng-model="invitee.email" ng-change="checkIfActiveUser(invitee)" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }" />
						</td>
						<td>
							<button class="btn btn-danger" ng-click="removeInvitee($index)">X</button>
						</td>

					</tr>
				</tbody>

			</table>

			<button class="btn btn-success" ng-disabled="invalidTitleOrInvalidEmails()" style="float:right;" ng-click="createList()">Create List</button>
		</div>
	</div>
	<br>
<!-- </div> -->