<div class="modal-header">
    <h3 class="modal-title">Add a Movie</h3>
</div>
<div class="modal-body">
  <label>Movie Title</label>

  <typeahead-custom title="l" subtitle="s" displaykey="l" retkey="id" modelret="imdbId"  movie="movie" loading-gif="loadingGif"></typeahead-custom>
	<div class="row no-gutters" ng-show="movie">
		<div class="col-sm-5">
      <info-poster-image source="movie.poster"></info-poster-image>
  	</div>
  	<div class="col-sm-7">
  		<div class="add-movie-info">
  	
			<h4>{{movie.title}} ({{movie.year}})</h4>
			<p>{{movie.rated}} | {{movie.runtime}} | {{movie.genre}} | {{movie.released | date}}</p>

			<hr>

			<p>{{movie.plot}}</p>
			<hr>
		
			<p>Director: {{movie.director}}</p>
			<p>Writers: {{movie.writer}}</p>
			<p>Stars: {{movie.actors}}</p>
			</div>
		</div>
	</div>

	<div class="row" ng-show="movie">
		<div class="col-sm-12">
	    <div class="row">
	      <div class="col-sm-12">
	        <h4>Have you seen this movie?
	        <button type="button" class="btn btn-s" ng-class="{'btn-oogway': movie_rating.seen, 'btn-standard': !movie_rating.seen}" ng-click="clickedHasSeen()">Yes
	        </button>
	        <button type="button" class="btn btn-s" ng-class="{'btn-oogway': movie_rating.seen === false, 'btn-standard': movie_rating.seen}" ng-click="clickedHasNotSeen()">No
	        </button>
	        </h4>
	      </div>
	    </div>

	    <div class="row" ng-show="movie_rating.seen === false">
	      <div class="col-sm-12">
	        <h4>How much would you like to view this movie?</h4>
	      </div>
	    </div>
	    <div class="row" ng-show="movie_rating.seen === false">
	      <div class="col-sm-7">
	        <rating value="movie_rating.rating" max="10" on-hover="hoveringOver(value)" on-leave="overStar = null" style="color:green; font-size: 20px;"></rating>
	      </div>
	      <div class="col-sm-5">

	      </div>
	    </div>

			<div class="row" ng-show="movie_rating.seen">
				<div class="col-sm-12">
					<h4>Your Rating:</h4>
				</div>
			</div>
			<div class="row" ng-show="movie_rating.seen">
				<div class="col-sm-7">
	        <rating value="movie_rating.rating" max="10" on-hover="hoveringOver(value)" on-leave="overStar = null" style="color:green; font-size: 20px;"></rating>

		 		</div>
				<div class="col-sm-5">

					<button type="button" class="btn btn-xs" ng-class="{'btn-danger': movie_rating.favorite, 'btn-standard': !movie_rating.favorite}" ng-click="movie_rating.favorite = !movie_rating.favorite">
						<span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Favorite
					</button>

					<button type="button" class="btn btn-xs" ng-class="{'btn-warning': movie_rating.rewatch, 'btn-standard': !movie_rating.rewatch}" ng-click="movie_rating.rewatch = !movie_rating.rewatch">
						<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Rewatch
					</button>
				</div>
			</div>

		</div>
	</div>




</div>

<div class="modal-footer" ng-show="movie && movie_rating.seen != null">
    <button class="btn btn-standard" ng-click="cancel()">Cancel</button>
    <button class="btn btn-oogway" ng-click="ok(movie)">Add To List</button>
</div>