<div class="row no-gutters">

  <div class="col-sm-3 bootcards-list">
    <div class="panel panel-default">       
      <div class="list-group">

        <a class="list-group-item" ui-sref="dashboard.listSettings.users">
          <i class="fa fa-users fa-2x pull-left"></i>
          <h4 class="list-group-item-heading">User Settings</h4>
        </a>
        <a class="list-group-item" ui-sref="dashboard.listSettings.changeTitle">
          <i class="fa fa-gear fa-2x pull-left"></i>
          <h4 class="list-group-item-heading">Change Title</h4>
        </a>
        <a class="list-group-item" ui-sref="dashboard.listSettings.default">
          <i class="fa fa-anchor fa-2x pull-left"></i>
          <h4 class="list-group-item-heading">Default List</h4>
        </a>
        <a class="list-group-item" ui-sref="dashboard.listSettings.watched">
          <i class="fa fa-eye fa-2x pull-left"></i>
          <h4 class="list-group-item-heading">Watched List</h4>
        </a>
        <a class="list-group-item" ui-sref="dashboard.listSettings.destroy">
          <i class="fa fa-minus-circle fa-2x pull-left"></i>
          <h4 class="list-group-item-heading">Destroy List</h4>
        </a>
    	</div>

    </div>
  </div>


	<div class="col-sm-9 main-panel settings-main-view">
    <br>
		<div ui-view></div>
	</div>
</div>