
<div ng-show="readyListData.movies.length == 0" class="no-movies-dialog">
  <h4>You have no movies in your queue.</h4>
  <div>
    <a ng-click="openAddAMovieModal('lg')" style="cursor:pointer">Add a movie</a> 
    <span style="display: inline" ng-show="pendingListData.movies.length > 0">or head over to your 
    <a ui-sref="dashboard.userPending">pending list</a>
    and rate some movies.</span>
  </div>
</div>

<div ng-show="readyListData.movies.length > 0" class="row no-gutters">

  <div class="col-sm-7 bootcards-cards">

    <div class="panel panel-default bootcards-richtext ">
    	<div class="row no-gutters">
    		<div class="col-md-4 movie-info-panel">
      		<img ng-src="{{readyListData.movies[currentMovie.movieIndex].poster}}" class="poster"/>
      	</div>
      	<div class="col-md-8 movie-info">
      		
    			<h2>{{readyListData.movies[currentMovie.movieIndex].title}} ({{readyListData.movies[currentMovie.movieIndex].year}})</h2>
    			<p>{{readyListData.movies[currentMovie.movieIndex].rated}} | {{readyListData.movies[currentMovie.movieIndex].runtime}} | {{genresString(readyListData.movies[currentMovie.movieIndex])}} | {{readyListData.movies[currentMovie.movieIndex].released | date}}</p>

    			<hr>

          <div ng-hide="editRating">
            

            <div class="row">
              <div class="col-md-3">
                <p class="list-group-item-heading">Your rating: {{readyListData.movies[currentMovie.movieIndex].current_user_movie_rating.rating}}</p>

              </div>

              <div class="col-md-9">
                <span style="display:inline; color:black" ng-hide="readyListData.movies[currentMovie.movieIndex].current_user_movie_rating.rating">(incomplete)</span>

                <button ng-show="readyListData.movies[currentMovie.movieIndex].current_user_movie_rating.seen" type="button" class="btn btn-success btn-xs" disabled>
                  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Seen
                </button>

                <button ng-show="readyListData.movies[currentMovie.movieIndex].current_user_movie_rating.favorite" type="button" class="btn btn-danger btn-xs" disabled>
                  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Favorite
                </button>

                <button ng-show="readyListData.movies[currentMovie.movieIndex].current_user_movie_rating.rewatch" type="button" class="btn btn-warning btn-xs" disabled>
                  <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Rewatch
                </button>
                <a class="btn btn-info btn-xs" ng-click="clickEditRating(readyListData.movies[currentMovie.movieIndex].current_user_movie_rating)" style="cursor:pointer">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
              </div>
            </div>

            <div class="row" ng-repeat="review in readyListData.movies[currentMovie.movieIndex].user_movie_ratings" ng-hide="currentUsersRating(review)">
              <div class="col-md-3">
                <p class="list-group-item-heading">{{review.first_name}}'s rating: {{review.rating}}</p>
              </div>

              <div class="col-md-9">
                <span style="display:inline; color:black" ng-hide="review.rating">(incomplete)</span>

                <button ng-show="review.seen" type="button" class="btn btn-success btn-xs" disabled>
                  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Seen
                </button>

                <button ng-show="review.favorite" type="button" class="btn btn-danger btn-xs" disabled>
                  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Favorite
                </button>

                <button ng-show="review.rewatch" type="button" class="btn btn-warning btn-xs" disabled>
                  <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Rewatch
                </button>
              </div>
            </div>
          </div>

          <div class="row" ng-if="editRating">
            <div class="col-sm-12">

              <div class="row">
                <div class="col-sm-6">
                  <star-rating ng-model="editRatingFormData.rating" max="10" icon="star"></star-rating>
                </div>
                <div class="col-sm-6">

                  <button type="button" 
                  class="btn btn-xs" 
                  ng-class="{'btn-success': editRatingFormData.seen, 'btn-standard': !editRatingFormData.seen}" 
                  ng-click="editRatingFormData.seen = !editRatingFormData.seen">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Seen
                  </button>

                  <button type="button" 
                  class="btn btn-xs" 
                  ng-class="{'btn-danger': editRatingFormData.favorite, 'btn-standard': !editRatingFormData.favorite}" 
                  ng-click="editRatingFormData.favorite = !editRatingFormData.favorite">
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Favorite
                  </button>

                  <button type="button" 
                  class="btn btn-xs" 
                  ng-class="{'btn-warning': editRatingFormData.rewatch, 'btn-standard': !editRatingFormData.rewatch}" 
                  ng-click="editRatingFormData.rewatch = !editRatingFormData.rewatch">
                    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Rewatch
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div style="align:right;" style="p">
                    <a ng-click="cancelEditRating()" style="cursor:pointer">Cancel</a>
                    <button class="btn btn-default btn-xs" ng-click="submitEditedRating()">Submit</button>
                  </div>

                </div>
              </div>


            </div>
          </div>



    			<hr>

    			<p>{{readyListData.movies[currentMovie.movieIndex].plot}}</p>
    			<hr>
    		
    			<p>Director: {{readyListData.movies[currentMovie.movieIndex].director}}</p>
    			<p>Writers: {{readyListData.movies[currentMovie.movieIndex].writer}}</p>
    			<p>Stars: {{readyListData.movies[currentMovie.movieIndex].actors}}</p>

      	</div>
    	</div>
    </div>

  	<!-- <streaming-icons></streaming-icons> -->
    <div class="movieInfoControls" style="text-align:center;">
      <button class="btn btn-primary btn-lg" ng-confirm-click="Are you sure you want to mark this as watched?" ng-click="setCurrentMovieAsWatched()">We Watched This</button>
    </div>
	</div>

  <div class="col-sm-5 bootcards-list main-panel" id="list" data-title="readyListData.movies">
    <div class="panel panel-default">       
      <div class="list-group">

        <a ng-repeat="movie in readyListData.movies | filter:searchInput | filter: completedCheckBox | selectedGenres:genres" ng-click="changeMovieIndex($index)" class="list-group-item" ng-class="{incompleteMovie: !movie.completed}">
        <!-- <a ng-repeat="movie in readyListData.movies | selectedGenres:genres" ng-click="changeMovieIndex($index)" class="list-group-item" ng-class="{incompleteMovie: !movie.completed}"> -->
          <div class="pull-left oogway-rating-text">
            {{movie.oogway_rating | number:1}}
          </div>
          <img ng-src="{{movie.poster}}" class="img-rounded pull-left card-image">

          <h4 class="list-group-item-heading">{{movie.title}} ({{movie.year}})</h4>
          <p class="list-group-item-text">{{movie.actors}}</p>
          <p class="list-group-item-text"></p>

        </a>
    	</div>

    </div>
  </div>

</div>
