<header id="header" class="clearfix">
  <!-- Logo -->
  <a href="index.html" class="logo shadowed">
  OOGWAY'S LIST
  </a>
  <div class="dropdown profile-menu shadowed">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <img src="img/profile-pics/profile-pic.png" alt="" class="profile-pic">
    </a>
    <ul class="dropdown-menu pull-right text-right">
      <li><a href="">Update Profile</a></li>
      <li><a href="">Settings</a></li>
      <li class="divider"></li>
      <li><a href="">Sign-Out</a></li>
    </ul>
  </div>

  <ul class="nav nav-pills pull-right shadowed" id="top-menu">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Lists<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="">Action</a></li>
        <li><a href="">Another action</a></li>
        <li><a href="">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="">Separated link</a></li>
      </ul>
    </li>
    <li><a href="#">Create List</a></li>
    <li><a href="#">Pending</a></li>
  </ul>


  <div class="updates shadowed pull-right">
    <ul class="list-unstyled list-inline">
      <li class="dropdown">
        <a href="" data-toggle="dropdown" class="messages ttips" title="Messages" data-placement="bottom">
        <img src="img/message.png" alt="">
        </a>
        <div class="dropdown-menu">
          <div class="updates-header">
            <span class="pull-left">Inbox <a href="#">(45)</a></span>
            <span class="pull-right"><a href="">Send new</a></span>
            <div class="clearfix"></div>
          </div>
          <div class="listview overflow">
            <a class="media" href="">
              <img class="media-object pull-left" src="img/profile-pics/1.jpg" alt="">
              <div class="media-body">
                David Villa <span class="date">2 Hrs ago</span><br>
                <span class="shortline">Lorem ipsum dolor sit amet, per cu sole...</span>
              </div>
            </a>
            <a class="media" href="">
              <img class="media-object pull-left" src="img/profile-pics/1.jpg" alt="">
              <div class="media-body">
                Jason Statom <span class="date">5 Hrs ago</span><br>
                <span class="shortline" class="shortline">Vandy come to ipsum seen tuooth ya so...</span>
              </div>
            </a>
            <a class="media" href="">
              <img class="media-object pull-left" src="img/profile-pics/1.jpg" alt="">
              <div class="media-body">
                Lilly Jackson <span class="date">9 Hrs ago</span><br>
                <span class="shortline" class="shortline">Far schools wen smoothness prope soom...</span>
              </div>
            </a>
            <a class="media" href="">
              <img class="media-object pull-left" src="img/profile-pics/1.jpg" alt="">
              <div class="media-body">
                Vin Diesal <span class="date">06 Nov</span><br>
                <span class="shortline" class="shortline">Dolor boom with your cool sindims to the...</span>
              </div>
            </a>
            <a class="media" href="">
              <img class="media-object pull-left" src="img/profile-pics/1.jpg" alt="">
              <div class="media-body">
                Jason Statom <span class="date">5 Hrs ago</span><br>
                <span class="shortline" class="shortline">Vandy come to ipsum seen tuooth ya so...</span>
              </div>
            </a>
            <a class="media" href="">
              <img class="media-object pull-left" src="img/profile-pics/1.jpg" alt="">
              <div class="media-body">
                Lilly Jackson <span class="date">9 Hrs ago</span><br>
                <span class="shortline" class="shortline">Far schools wen smoothness prope soom...</span>
              </div>
            </a>
            <a class="media" href="">
              <img class="media-object pull-left" src="img/profile-pics/1.jpg" alt="">
              <div class="media-body">
                Vin Diesal <span class="date">06 Nov</span><br>
                <span class="shortline" class="shortline">Dolor boom with your cool sindims to the...</span>
              </div>
            </a>
          </div>
          <div class="updates-footer">
            <a href="">See All</a>
          </div>
        </div>
      </li>
      <li class="dropdown">
        <a href="" class="notifications ttips" data-toggle="dropdown" title="Notifications" data-placement="bottom">
        <img src="img/updates.png" alt="">
        </a>
        <div class="dropdown-menu">
          <div class="updates-header">
            <span class="pull-left">Notifications</span>
            <span class="pull-right"><a href="">Settings</a></span>
            <div class="clearfix"></div>
          </div>
          <div class="listview overflow">
            <a class="media" href="">
              <img class="media-object pull-left" src="img/profile-pics/1.jpg" alt="">
              <div class="media-body">
                David Villa <span class="date">2 Hrs ago</span><br>
                <span class="shortline">Lorem ipsum dolor sit amet, per cu sole...</span>
              </div>
            </a>
            <a class="media" href="">
              <img class="media-object pull-left" src="img/profile-pics/1.jpg" alt="">
              <div class="media-body">
                Jason Statom <span class="date">5 Hrs ago</span><br>
                <span class="shortline" class="shortline">Vandy come to ipsum seen tuooth ya so...</span>
              </div>
            </a>
            <a class="media" href="">
              <img class="media-object pull-left" src="img/profile-pics/1.jpg" alt="">
              <div class="media-body">
                Lilly Jackson <span class="date">9 Hrs ago</span><br>
                <span class="shortline" class="shortline">Far schools wen smoothness prope soom...</span>
              </div>
            </a>
            <a class="media" href="">
              <img class="media-object pull-left" src="img/profile-pics/1.jpg" alt="">
              <div class="media-body">
                Vin Diesal <span class="date">06 Nov</span><br>
                <span class="shortline" class="shortline">Dolor boom with your cool sindims to the...</span>
              </div>
            </a>
            <a class="media" href="">
              <img class="media-object pull-left" src="img/profile-pics/1.jpg" alt="">
              <div class="media-body">
                Jason Statom <span class="date">5 Hrs ago</span><br>
                <span class="shortline" class="shortline">Vandy come to ipsum seen tuooth ya so...</span>
              </div>
            </a>
            <a class="media" href="">
              <img class="media-object pull-left" src="img/profile-pics/1.jpg" alt="">
              <div class="media-body">
                Lilly Jackson <span class="date">9 Hrs ago</span><br>
                <span class="shortline" class="shortline">Far schools wen smoothness prope soom...</span>
              </div>
            </a>
            <a class="media" href="">
              <img class="media-object pull-left" src="img/profile-pics/1.jpg" alt="">
              <div class="media-body">
                Vin Diesal <span class="date">06 Nov</span><br>
                <span class="shortline" class="shortline">Dolor boom with your cool sindims to the...</span>
              </div>
            </a>
          </div>
          <div class="updates-footer">
            <a href="">See All</a>
          </div>
        </div>
      </li>
    </ul>
  </div>

</header>