<div class="col-md-6 listview-block">
  <div class="block">
    <h2>Ratings</h2>

    <div class="listview">
      <div class="media">
        <a class="pull-left" href="#">
        <img src="assets/profile-pics/1.jpg" alt="" class="poster-pic">
        </a>
        <div class="media-body">
          <p class="post-title">Your Rating: 8</p>
          <div class="btn-group controls">
            <a data-toggle="tooltip" data-original-title="Seen" class="ttips btn btn-success btn-xs"><i class="icon-eye-2"></i></a>
            <a data-toggle="tooltip" data-original-title="Favorite" class="ttips btn btn-danger btn-xs"><i class="icon-heart"></i></a>
            <a data-toggle="tooltip" data-original-title="Rewatch" class="ttips btn btn-warning btn-xs"><i class="icon-loop-2"></i></a>
            <a href="#" data-toggle="tooltip" data-original-title="Edit" class="ttips btn btn-gr-gray btn-xs"><i class="icon-pencil"></i></a>
          </div>
        </div>
      </div>
      <div class="media">
        <a class="pull-left" href="#">
        <img src="assets/profile-pics/2.jpg" alt="" class="poster-pic">
        </a>
        <div class="media-body">
          <p class="post-title">Megan's Rating: 8</p>
          <div class="btn-group controls">
            <a data-toggle="tooltip" data-original-title="Seen" class="ttips btn btn-success btn-xs"><i class="icon-eye-2"></i></a>
            <a data-toggle="tooltip" data-original-title="Favorite" class="ttips btn btn-danger btn-xs"><i class="icon-heart"></i></a>
            <a data-toggle="tooltip" data-original-title="Rewatch" class="ttips btn btn-warning btn-xs"><i class="icon-loop-2"></i></a>
          </div>
        </div>
      </div>
      <div class="media">
        <a class="pull-left" href="#">
        <img src="assets/profile-pics/1.jpg" alt="" class="poster-pic">
        </a>
        <div class="media-body">
          <p class="post-title">Kevin's Rating: 8</p>
          <div class="btn-group controls">
            <a data-toggle="tooltip" data-original-title="Seen" class="ttips btn btn-success btn-xs"><i class="icon-eye-2"></i></a>
            <a data-toggle="tooltip" data-original-title="Favorite" class="ttips btn btn-danger btn-xs"><i class="icon-heart"></i></a>
            <a data-toggle="tooltip" data-original-title="Rewatch" class="ttips btn btn-warning btn-xs"><i class="icon-loop-2"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>