<div class="col-md-6 listview-block ">
  <div class="block">
    <h2>Ratings</h2>
    <div class="config">                        
      <a href="" data-toggle="tooltip" data-original-title="Edit" class="ttips" ng-click="clickEditRating(selectedMovie.current_user_movie_rating)">
        <i class="fa fa-pencil fa-fw edit-pencil"></i>
      </a>
    </div>

    <div class="listview small-component">

      <div class="media">
<!--         <a class="pull-left" href="#">
        <img src="assets/profile-pics/1.jpg" alt="" class="poster-pic">
        </a> -->

        <div class="media-body" ng-hide="editRating">
          <p class="post-title">
            Your Rating: {{selectedMovie.current_user_movie_rating.rating}}
            <span ng-hide="selectedMovie.current_user_movie_rating.rating" style="display:inline">incomplete</span>
          </p>
          <div class="btn-group controls">
            <a data-toggle="tooltip" data-original-title="Seen" class="ttips btn btn-xs" ng-class="{'btn-success': selectedMovie.current_user_movie_rating.seen}"><i class="fa fa-eye"> Seen</i></a>
            <a data-toggle="tooltip" data-original-title="Favorite" class="ttips btn  btn-xs" ng-class="{'btn-danger': selectedMovie.current_user_movie_rating.favorite}"><i class="fa fa-heart"> Favorite</i></a>
            <a data-toggle="tooltip" data-original-title="Rewatch" class="ttips btn btn-xs" ng-class="{'btn-warning': selectedMovie.current_user_movie_rating.rewatch}"><i class="fa fa-refresh"> Rewatch</i></a>
          </div>
        </div>

        <div class="media-body" ng-show="editRating">
          <div class="row">
            <div class="col-sm-12">
              <!-- <star-rating ng-model="editRatingFormData.rating" max="10" icon="star"></star-rating> -->
              <rating value="editRatingFormData.rating" max="10" on-hover="hoveringOver(value)" on-leave="overStar = null" style="color:green; font-size: 20px;"></rating>

            </div>
          </div>
          <div class="row">

            <div class="col-sm-12">

              <button type="button" 
              class="btn btn-xs" 
              ng-class="{'btn-success': editRatingFormData.seen, 'btn-standard': !editRatingFormData.seen}" 
              ng-click="editRatingFormData.seen = !editRatingFormData.seen">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Seen
              </button>

              <button type="button" 
              class="btn btn-xs" 
              ng-class="{'btn-danger': editRatingFormData.favorite, 'btn-standard': !editRatingFormData.favorite}" 
              ng-click="editRatingFormData.favorite = !editRatingFormData.favorite">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Favorite
              </button>

              <button type="button" 
              class="btn btn-xs" 
              ng-class="{'btn-warning': editRatingFormData.rewatch, 'btn-standard': !editRatingFormData.rewatch}" 
              ng-click="editRatingFormData.rewatch = !editRatingFormData.rewatch">
                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Rewatch
              </button>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <div style="text-align:right;" style="p">
                <button class="btn btn-default" ng-click="cancelEditRating()">Cancel</button>
                <button class="btn btn-oogway" ng-click="submitEditedRating()">Submit</button>
              </div>

            </div>
          </div>
        </div>  

      </div>

      <div class="media" ng-repeat="rating in selectedMovie.user_movie_ratings" ng-hide="currentUsersRating(rating)">
        <div class="media-body">
          <p class="post-title">
            {{rating.first_name}}'s Rating: {{rating.rating}}
            <span ng-hide="selectedMovie.current_user_movie_rating.rating" style="display:inline">incomplete</span>
          </p>
          <div class="btn-group controls">
            <a data-toggle="tooltip" data-original-title="Seen" class="ttips btn btn-xs" ng-class="{'btn-success': rating.seen}"><i class="fa fa-eye"> Seen</i></a>
            <a data-toggle="tooltip" data-original-title="Favorite" class="ttips btn btn-xs" ng-class="{'btn-danger': rating.favorite}"><i class="fa fa-heart"> Favorite</i></a>
            <a data-toggle="tooltip" data-original-title="Rewatch" class="ttips btn btn-xs" ng-class="{'btn-warning': rating.rewatch}"><i class="fa fa-refresh"> Rewatch</i></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>