<aside id="rightbar" class="pull-right">
  <div class="sidebar-container">
    
    <ul class="side-menu shadowed">
      <li>
        <a ui-sref="dashboard.listSettings.users">
        <i class="fa fa-users"></i>
        User Settings
        </a>
      </li>
      <li>
        <a ui-sref="dashboard.listSettings.changeTitle">
        <i class="fa fa-gear"></i>
        Change Title
        </a>
      </li>
      <li>
        <a ui-sref="dashboard.listSettings.default">
        <i class="fa fa-anchor"></i>
        Default List
        </a>
      </li>
      <li>
        <a ui-sref="dashboard.listSettings.watched">
        <i class="fa fa-eye"></i>
        Watched List
        </a>
      </li>
      <li>
        <a ui-sref="dashboard.listSettings.destroy">
        <i class="fa fa-minus-circle"></i>
        Destroy List
        </a>
      </li>
    </ul>
  </div>

  <span id="leftbar-toggle" class="visible-xs sidebar-toggle">
    <i class="fa fa-camera-retro"></i>
  </span>
</aside>