<div class="row no-gutters">
	<div class="col-xs-6 col-md-2 col-md-offset-2">
		<img class="thumbnail" style="max-width:100%" ng-src="assets/netflix.png"/>
	</div>
	<div class="col-xs-6 col-md-2">
		<img class="thumbnail disabled-streaming-icon" style="max-width:100%" ng-src="assets/amazon.png"/>

	</div>
	<div class="col-xs-6 col-md-2">
		<img class="thumbnail" style="max-width:100%" ng-src="assets/hulu.png"/>

	</div>
	<div class="col-xs-6 col-md-2">
		<img class="thumbnail disabled-streaming-icon" style="max-width:100%" ng-src="assets/itunes.png"/>

	</div>
</div>