<div class="col-md-7">
  <div class="block">
    <h2>User's Comments</h2>
    <div class="config">
      <a href="" data-toggle="tooltip" data-original-title="Add Comment" class="ttips">
      <i class="icon-plus add-new-todo"></i>
      </a>
    </div>
    <div class="listview todo-list">
      <div class="media">
        <div class="media-body">
          Per an error perpetua, fierent fastidii recteque ad pro. Mei id brute intellegam<br/>
          <small> by Dan Armstrong</small><br/>
        </div>
        <div class="list-options">
          <button class="btn btn-gr-gray btn-sm">Delete</button>
        </div>
      </div>
      <div class="media">
        <div class="media-body">
          Inermis patrioque temporibus at ius, eos ei case partem blandit<br/>
          <small> by Megan Vu</small>
        </div>
        <div class="list-options">
          <button class="btn btn-gr-gray btn-sm">Delete</button>
        </div>
      </div>
      <div class="media">
        <div class="media-body">
          Billa vel metus scelerisque ante sollicitudin commodo<br/>
          <small> by Megan Vu</small>
        </div>
        <div class="list-options">
          <button class="btn btn-gr-gray btn-sm">Delete</button>
        </div>
      </div>
      <div class="media">
        <div class="media-body">
          Per an error perpetua, fierent fastidii recteque ad pro<br/>
          <small> by Megan Vu</small><br/>
        </div>
        <div class="list-options">
          <button class="btn btn-gr-gray btn-sm">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>