<div class="modal-lists" ng-hide="createList || queuedLists.lists.length == 0">
	<div class="modal-header">
		<h2>Select A List</h2>
		<a class="btn btn-default" data-method="delete" href="/users/sign_out" rel="nofollow" style="float:right; position:relative; bottom: 45px">Log Out</a>
	</div>
	<div class="modal-body">
		<ul class="thumbnails hidden-xs hidden-sm">
	    <li ng-repeat="list in queuedLists.lists">
		    <a ng-click="selectList(list.id)" class="thumbnail">
		      <!-- <img ng-src="assets/turtle.jpg" class=""/> -->
		      <!-- 155x144 -->
		      <div class="turtle-lists-thumbnail"></div>
		      <div class="list-thumbnail-title">
		      	<h4 class="lists-title" >{{list.title}}</h4>
		    	</div>
		    </a>
	    </li>
	    <li class="create-list-button">
		    <a ng-click="switchToCreateList()" class="thumbnail" >
		      <i class="fa fa-plus-circle fa-5x" style="margin-top: 40px; margin-bottom: 20px; color:#5B74A8"></i>
		      <div>
		      	<h4 class="lists-title">Create a List</h4>
		    	</div>
		    </a>
	    </li>
		</ul>


		<div class="list-group visible-xs visible-sm">
		    <a ng-repeat="list in queuedLists.lists" ng-click="selectList(list.id)" class="list-group-item" ng-click="selectList(list.id)" style="cursor:pointer">
			    {{list.title}}
		  	</a>
		    <a ng-click="switchToCreateList()" class="list-group-item"style="cursor:pointer">
		    	<span class="badge"><i class="fa fa-plus"></i></span>
		    	- Create a List
		  	</a>

		</div>


	</div>
</div>

<div class="modal-create-list" ng-show="createList || queuedLists.lists.length == 0">
	<div class="modal-header">
		<h2>Create A List</h2>
		<button class="btn btn-default" style="float:right; position:relative; bottom: 45px" ng-click="switchToLists()" ng-hide="queuedLists.lists.length == 0">X</button>
		<a class="btn btn-default" data-method="delete" href="/users/sign_out" rel="nofollow" style="float:right; position:relative; bottom: 45px" ng-show="queuedLists.lists.length == 0">Log Out</a>
	</div>
	<div class="modal-body">
		
		<h4>Title</h4>
			<div class="form-group has-feedback"
						 ng-class="{'has-error': titleTooLong()}">
			  <input type="text" class="form-control" ng-model="createListData.title"/>
			  <span class="glyphicon form-control-feedback"
			  			ng-class="{'glyphicon-remove': titleTooLong()}" 
			  			aria-hidden="true"></span>
			</div>
			<small ng-show="titleTooLong()">Title too long (Max: 36)</small>
		<br>

		<button class="btn btn-default" style="float:right;" ng-click="addInvitee()">Add User</button>
		<br>
		<br>
		<br>
		<table class="table table-bordered table-hover" ng-show="hasInvitees()">

			<thead>
				<th>Email</th>
				<th>Remove</th>
			</thead>
			<tbody>
				<tr ng-repeat="invitee in createListData.invitees" 
				ng-class="{success: inviteeExistsAndChecked(invitee), info: inviteeDoesntExistAndChecked(invitee), danger: invalidEmail(invitee)}" 
		    tooltip="{{invitee.tooltipInfo}}"
		    tooltip-placement="bottom"
		    tooltip-trigger="mouseenter"
		    tooltip-enable="invitee.checked">
					<td>
						<input class="form-control" ng-model="invitee.email" ng-change="checkIfActiveUser(invitee)" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }" />
					</td>
					<td>
						<button class="btn btn-oogway" ng-click="removeInvitee($index)">X</button>
					</td>

				</tr>
			</tbody>

		</table>

		<button class="btn btn-oogway btn-lg" ng-disabled="invalidTitleOrInvalidEmails() || titleTooLong()" style="float:right;" ng-click="postList()">Create List</button>
		<br>
		<br>


	</div>
</div>
