<div class="modal-lists" ng-hide="createList">
	<div class="modal-header">
		<h2>Select A List</h2>
	</div>
	<div class="modal-body">
		<ul class="thumbnails">
	    <li ng-repeat="list in queuedLists.lists">
		    <a ng-click="selectList(list.id)" class="thumbnail">
		      <img ng-src="assets/turtle.jpg"/>
		      <div>
		      	<h4 class="lists-title">{{list.title}}</h4>
		    	</div>
		    </a>
	    </li>
	    <li>
		    <a ng-click="switchToCreateList()" class="thumbnail" >
		      <i class="fa fa-plus-circle fa-5x" style="margin-top: 40px; margin-bottom: 20px; color:green"></i>
		      <div>
		      	<h4 class="lists-title">Create a List</h4>
		    	</div>
		    </a>
	    </li>
		</ul>
	</div>
</div>

<div class="modal-create-list" ng-show="createList">
	<div class="modal-header">
		<h2>Create A List</h2>
		<button class="btn btn-warning" style="float:right; position:relative; bottom: 45px" ng-click="switchToLists()">X</button>
	</div>
	<div class="modal-body">
		
		<h4>Title</h4>
		<input class="form-control" ng-model="createListData.title">
		<br>

		<button class="btn btn-default" style="float:right;" ng-click="addInvitee()">Add User</button>
		<br>
		<br>
		<br>
		<table class="table table-bordered table-hover" ng-show="hasInvitees()">

			<thead>
				<th>Email</th>
				<th>Remove</th>
			</thead>
			<tbody>
				<tr ng-repeat="invitee in createListData.invitees" 
				ng-class="{success: inviteeExistsAndChecked(invitee), info: inviteeDoesntExistAndChecked(invitee), danger: invalidEmail(invitee)}" 
		    tooltip="{{invitee.tooltipInfo}}"
		    tooltip-placement="bottom"
		    tooltip-trigger="mouseenter"
		    tooltip-enable="invitee.checked">
					<td>
						<input class="form-control" ng-model="invitee.email" ng-change="checkIfActiveUser(invitee)" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }" />
					</td>
					<td>
						<button class="btn btn-danger" ng-click="removeInvitee($index)">X</button>
					</td>

				</tr>
			</tbody>

		</table>

		<button class="btn btn-success" ng-disabled="invalidTitleOrInvalidEmails()" style="float:right;" ng-click="createList()">Create List</button>
		<br>
		<br>


	</div>
</div>
