<div class="modal-lists" ng-hide="createList">
	<div class="modal-header">
		<h2>Select A List</h2>
	</div>
	<div class="modal-body">
		<ul class="thumbnails">
	    <li ng-repeat="list in queuedLists.lists">
		    <a ng-click="selectList(list.id)" class="thumbnail">
		      <img ng-src="assets/turtle.jpg"/>
		      <div>
		      	<h4 class="lists-title">{{list.title}}</h4>
		    	</div>
		    </a>
	    </li>
	    <li>
		    <a ng-click="switchToCreateList()" class="thumbnail" >
		      <i class="fa fa-plus-circle fa-5x" style="margin-top: 40px; margin-bottom: 20px; color:green"></i>
		      <div>
		      	<h4 class="lists-title">Create a List</h4>
		    	</div>
		    </a>
	    </li>
		</ul>
	</div>
</div>

<div class="modal-create-list" ng-show="createList">
	<div class="modal-header">
		<h2>Create A List</h2>
		<button class="btn btn-warning" style="float:right; position:relative; bottom: 45px" ng-click="switchToLists()">return</button>
	</div>
	<div class="modal-body">
		<start-modal-create-list modal-instance="modalInstance"></start-modal-create-list>
	</div>
</div>