html {
	height: calc(100% - 50px);
	height: -o-calc(100% - 50px); /* opera */
	height: -webkit-calc(100% - 50px); /* google, safari */
	height: -moz-calc(100% - 50px); /* firefox */
  width: 100%;
  height: 100%;
}

body {
	font-family: 'Old Standard TT', serif !important;
	color: $light-text-color !important;	
	// background: transparent;
	height:100%;
  width: 100%;

	// opacity: 1;
}

.listSettingsIcon {
	padding:11px 13px 0 0
}

.navbar-inverse {
	a:hover {
		color:white !important;
		background-color: #101010 !important;
		font-weight: bold !important;
	}

}

.app-container {

	margin-top: 50px;
	background-color: white;
	height:100%;

	p {
	color:black;
	}

	h2 {
		color:black;
	}

	h4 {
		color:black;
	}
}

.add-movie-loading-gif {
	display:block;
  margin:auto;
}

.log-in {
	margin-top: 100px;
	height: 100%;
	margin: 0 auto;
}

.middle {
	margin-top: 100px;
}

.navbar-inverse li a {
	color: $light-text-color !important;	

}

.navbar-brand {
	color: $light-text-color !important;
}

.facebook-log-in {
	display:block;
   margin:auto;
}

.container-background{
	background-color:rgba(365, 365, 365, 1);
	height: 100%;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.panel {
	margin-bottom: 0;
}

.movie-info-panel {
	height:350px;
	max-width:290px;
	min-width:250px;
}

.poster {
	height: 100%;

	display:block;
  // margin:auto;
}

.star-image {
	width: 50px;
	height: 50px;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.navbar {
	margin-bottom: 0;
}

.streaming-icons-row {
	border-bottom: 1px solid grey;
}

.disabled-streaming-icon {
	opacity: 0.4;
  filter: alpha(opacity=40);
}

.rating-star-number {
	position:absolute;
	bottom: 36px;
	left:63px;
	color:white;
	// -webkit-text-stroke-width: 1px;
 //   -webkit-text-stroke-color: $light-text-color;
	// right:5px;
}

.card-image {
	position:relative;
	bottom:9px;
	height: 50px;
  width: 55px;
  margin-right: 15px;
}

.list-movie-item {
	border: 2px solid black;
}


.oogway-rating-text {
	color: green;
	font-size:34px;
	margin-right:10px;
}
.btn-oogway-light {
	color: $light-text-color;
  background-color: #778899;
  border-color: #778899;
}

.modal-content {
	background-color: #222;
}

.add-movie-info {
	padding-left:10px;

	h4 {
		color: $light-text-color;
	}

	p {
		color: $light-text-color;
	}
}



.rating {
  margin: 0;
  padding: 0;
  display: inline-block;
  
  li {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em purple;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
    &.filled {
      color: green; //#21568b
    }
  }
  &.readonly li.filled {
    color: green;
  }
}

.navbar .navbar-center {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-title {
	color:black !important;
}

.navbar-fixed-second {
	margin-top:50px;
	z-index: 1;
}

.no-movies-dialog {
	color: black;
	text-align: center;

	a {
		cursor: pointer;
	}
}

.main-panel {
	overflow-y: scroll;
}

.noTopBottomPad {
    padding-top : 2px !important;
    padding-bottom : 2px !important;
}

.overlap {
	position: absolute !important;
  z-index: 900 !important; width: inherit  !important ;
}

.invite-buttons {
	margin-top:5px;
}

.list-invites {
	a:hover {
		color:$light-text-color !important;
		font-weight: normal !important;
	}

	li {
		border-bottom: 1px solid $light-text-color;
		padding-bottom: 3px;

	}

	&:last-child {
      border-bottom: none;
		padding-bottom: 0;
  }
}

.settings-main-view {
	border-left:1px solid grey;
}

.user-setting-buttons {
	text-align:center;
}

.modal-backdrop {
   opacity: 0.8 !important;
}

.start-modal {
  // top: 25% !important;
  // opacity: 1 !important;
  // width:80% !important;
  // height:80% !important;
  // margin: 10% !important;

.modal-dialog {
  width: 80%;
  // height: 92%;
  padding: 5% 10% 3% 10%;
}

.modal-content {
  height: 100%;
  // border-radius: 0;
}
	 // opacity: 0.8 !important;
}

.thumbnails {
    text-align: center;
    margin-bottom: 0;
}
.thumbnails li {
    width: 175px;
    height: 175px;
    margin: 10px;
    float: none !important; /* to overwrite the default property on the bootstrap stylesheet */
    display: inline-block;
    *display: inline; /* ie7 support */
    zoom: 1;
    margin-top: 20px;
    margin-bottom: 25px;
}

.thumbnail {
	background-color: #101010;

}

.thumbnail:hover {
	cursor:pointer;
}

.lists-title {
	color: $light-text-color;
}

.invite-panel {
	margin-bottom: 20px;
}

.incompleteMovie > .media-heading {
	.media-heading {
		color: red !important;
	}

	.media-actors {
		color:red !important;
		
	}

	.list-group-item-heading {
		color:grey !important;
	}

	.card-image {
		opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
	}
	
	p {
	}
}

.activeSetting {
	color:green;
}

.navbar-setting:hover {
	cursor:pointer;
}



